*{margin:0;
}

body {
  background-image: url(https://cnet2.cbsistatic.com/img/Krd6JAx6VBrOdvj_q1Q8MEWv1q4=/1600x900/2018/10/25/3fdce9e7-49ed-4ce3-bb6a-d5bcdb612bff/overlord-ovl-ff-052k.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

nav {
  display: flex;
  position: absolute;
  background-color:black;
  height: 3vw;
  width: 100%;
  position: fixed;
  justify-content: space-between;
}

nav div {
  display: flex;
  width: 33%;
  color: white;
  justify-content: center;
  align-items: center;
  border-right: .5px solid grey;

  
}

nav div h2 {
  widtH: 100%;
  text-align: center;
  font-size: 16pt;
}

nav div:hover { 
  background-color: rgb(255,0,0,.2);
}

.featureblock {
  position: absolute;
  background-color: rgb(0,0,0,.8);
  width: 46%;
  height: 100%;
  color: white;
  padding-top: 6vw;
}

.featureblock h1 {
  padding-left: 23%;
  font-size: 56pt;
}

.directorsection {
  display: flex;
  width: 100%;
  
  
}

.profileimg {
  width: 25%;
  height: 15vw;
  margin-top: 10%;
  margin-left:10%
}

.profileimg img {
  height: 100%;
}

.text{
  margin-top: 10%;
  margin-left: 5%;
  width: 50%;
  line-height: 1.5;
  font-size: 1rem;
  text-align: justify;
}

.actors {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 3%;
}
.imgs {
  display:flex;
  margin: auto;
  justify-content: space-between;
  width: 80%;
}

.imgs div {
  border: 3px solid rgb(255,255,255,.2);
  width: 30%;
  height: 15vw;
  overflow: hidden;
  
}

.imgs div img {
  height: 89%;
  width
}

.imgs div {
  text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
